.box1 {
    height: 200px;
    width: 600px;
    background-color: gray
}
.box2 {
    height: 720px;
    width: 600px;
    background-color: gray
}

p {
    font-weight: 800;
}

div {
    background: yellow;
    width: 50%;
}

input {
 margin: 10px;
}
